.baa-card{
width: 80%;
  max-width: 500px;
  height: auto;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}
.baa-card-c {
  width: 80%;
  max-width: 1030px;
  height: auto;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.baa-card-e {
  width: 80%;
  max-width: 500px;
  height: auto;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.baa-card:hover ,.baa-card-c:hover,.baa-card-e:hover {
  transform: translateY(-10px);
}

.baa-images {
  display: flex;
  /* height: 250px; */
   gap: 5px;
   aspect-ratio: 16 / 9;
}
.baa-images-c {
  display: flex;
  height: 300px;
   gap: 5px;
}

.baa-images img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  object-position: center;
}

.baa-images .img-before-c ,
.baa-images .img-after-c {
  width: 80%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.baa-images .img-before-e ,
.baa-images .img-after-e {
  width: 50%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}
.baa-card h3 ,.baa-card-e h3, .baa-card-c h3 {
  padding: 10px;
    font-size: 25px;
    font-weight: 750;

}